@model IEnumerable<testAppRepo.Models.TIPOPRODUCTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCTIPOPRODUCTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCTIPOPRODUCTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTIPOPRODUCTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTIPOPRODUCTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTIPOPRODUCTO })
        </td>
    </tr>
}

</table>
